<!doctype html>
<html lang="en">
  <head>
    <link rel="icon" href="/static/assets/favicon.svg"/>
    <link rel="apple-touch-icon" href="/static/assets/favicon.svg"/>
    <link rel="stylesheet" href="/static/css/index.css">
    <meta charset="utf-8"/>
    <meta name="robots" content="all">
    <meta name="viewport" content="width=device-width,initial-scale=1"/>
    <meta name="description" content="Kappa Spirits"/>
    <meta name="keywords" content="apriori, glenwood, jadore, maestro, roua-moldovei, taiga, tezaur">
    <title>K1 lube</title>
    <script type="module" crossorigin src="/static/js/index-BdWBzJQs.js"></script>
  </head>
  <body>
    <noscript>You must allow your browser to use JavaScript to view this site.</noscript>
    <div id="root"></div>
  </body>
</html>
